@charset "utf-8";
/* CSS Document */

* {
	margin:0px;
 padding::0px;
	font-family:"微软雅黑", Gadget, sans-serif;
}
body {
	margin: 0;
	padding: 0;
}
.contents{
	margin-bottom:80px;
}

.content {
	border-top: 1px solid #DADFE5;
	clear: both;
}
p.article_head {
	display: block;
	color:#4DB4F1;
 	font-family: "华文细黑"；  font-size:15.5px;
	-webkit-transform : scale(0.91, 1);
	letter-spacing: 0.2px;
	margin-top:16px;
	margin-bottom: 6px;
	padding-left: 1%;
}
p.article_content {
	padding-left: 5%;
	padding-right: 5%;
	font-size: 14px;
	color:#9FA0A2;
	line-height: 1.7em;
	letter-spacing: 0.3px;
}
.detail_time {
	float: left;
	text-align: center;
	height: 27px;
	padding-top: 10px;
	margin-left: 17px;
}
.detail_num {
	float: left;
	text-align: center;
	height: 27px;
	padding-top: 10px;
	margin-left: 24px;
}
.content_detail p a {
	text-decoration: none;
	float: left;
	display: block;
	font-size: 12px;
	color: #BDC1C6;
	-webkit-transform : scale(0.8, 0.9);
}
.icon_detail {
	float: left;
	display: block;
	align-self: center;
	margin-top: 2px;
}
