@charset "utf-8";
/* CSS Document */

* {
margin:0px;
padding::0px;
font-family:"Microsoft Yahei", Gadget, sans-serif;
font-size : 12px;
}
body {
	margin: 0;
	padding: 0;
}
.contents{
	margin-bottom: 40px;
}
.content{
	border-top: 1px solid #DADFE5;
}
p.articletype {
	padding-left: 4%;
	padding-top:10px;
	color:#FFB569;
}
.article_image {
	margin-top: 11px;
	margin-left: 4%;
}
.article_image_little {
	margin-left:35px;
	margin-top:-13px;
}
p.article_head {
	display: block;
	color:#5D5E63;
	text-align: center;
	margin-top: 5px;
	font-size:15px;
	letter-spacing: 0.2px;
	padding-bottom: 12px;
	padding-left: 10%;
	padding-right: 10%;
}
p.article_content {
	padding-left: 8%;
	padding-right: 8%;
	padding-bottom:20px;
	color:#9FA0A2;
	line-height: 1.6em;
	letter-spacing: 0.5px;
}
