@charset "utf-8";
/* CSS Document */

* {
	margin:0px;
 padding::0px;
	font-family:"微软雅黑", Gadget, sans-serif;
}
body {
	margin: 0;
	padding: 0;
}
.contents{
	margin-bottom: 80px;
}
.content {
	border-top: 1px solid #DADFE5;
	clear: both;
	padding:13px 2% 10px 5%;
}
p.article_head {
	display: block;
	clear:both;
	color:#59616A;
 	font-family: "华文细黑"；  font-size:15.5px;
	-webkit-transform : scale(0.91, 1);
	letter-spacing: 0.2px;
	margin-bottom: 7px;
	margin-left:-4%;
}
.article_images {
	clear: both;
	margin-top: -5px;
	margin-left:2%; 

}
.article_image {
	display: block;
	float: left;
    width:32%;
    margin-left:0.5%;
}
.pic_num {
	clear: both;
	position: absolute;
	z-index: "1";
	width:8%;
	line-height: 200%;
	margin-left: 89%;
	margin-top: 24.5%;
	background: url(../images/pic_num_back.png);
	font-size: 12px;
	font-weight: bold;
	color:white;
	text-align: center;
}
.content_detail{
	clear: both;
}
.pic_note {
	float: left;
	font-size: 12px;
	color: #BDC1C6;
	-webkit-transform : scale(0.8, 0.9);
	letter-spacing: 1px;
	margin-top: 8px;
	margin-left:1%;
	margin-bottom: 8px;
}
p.article_content {
	font-size: 13px;
	color:#9FA0A2;
	line-height: 1.75em;
	letter-spacing: 0.3px;
}
.qa td {
	text-align: left;
	width:50px;
	font-size: 12px;
	-webkit-transform : scale(0.8, 0.9);
	color: #A4A8AF;
}
table.qa {
	padding-top: 5px;
	float: right;
}
.answer {
	clear:both;
	margin-top: 5px;
	border-top:1px solid #DADFE5;
	padding-top: 13px;
	padding-left: 18px;
	font-size: 13px;
	color: #82898F;
	letter-spacing: 0px;
	margin-bottom: 13px;
}
.question {
	margin-top: 5px;
	border-top:1px solid #DADFE5;
	padding-top: 7px;
	margin-left: 20px;
	font-size: 16px;
	color: #82898F;
	letter-spacing: 0px;
}
.question_description {
	margin-top: 5px;
	padding-top: 6px;
	padding-left: 20px;
	font-size: 12px;
	color: #82898F;
	letter-spacing: 0.2px;
	line-height: 1.65em;
	margin-bottom: 9px;
}