@charset "utf-8";
/* CSS Document */

* {
margin:0px;
padding::0px;
font-family:"Microsoft Yahei", Gadget, sans-serif;
font-size : 12px;
}
a {
	text-decoration: none;	
}
.icon {
	width: 100%;
	position:fixed;
	z-index: 1;
	margin-top: 4%;
}
.icon_back {
	position:fixed;
	margin-left: 16px;
	margin-top: 2px;
	float: left;
}
.icon_share {
	float: right;
	margin-right: 16px;
}
.headpic {
	clear: both;
}
.pinfor {
	position:absolute;
	float: left;
	margin-top: -9%;
	margin-left: 4.8%;
	z-index: 1;
}
.photo_wrap {
	float:left;
}
.photo_back{
	float: left;
	display: block;	
	width:52%;
}
.photo {
	float: left;
	display: block;	
	margin-left: -51%;
	margin-top:1%;
	width:49%;
	border-radius: 50%
}
.icon_v {
	display: block;
	float:left;
	margin-left: -34%;
	padding-top: 24%;
}
.pinfor .lable {
	text-align: center;
	float: left;
	padding:2px 4px 2px 4px;
	line-height:13PX;
	color: white;
	border-radius: 3px;
	background-color: #27A6EE;
	margin-top:17%;
	margin-left:-30%;
	-webkit-transform : scale(0.71, 0.8);
}
.num {
	float: right;
	width:158px;
	margin-top: 3.5px;
	margin-bottom: 5px;
}
.num_focus {
	float: left;
	width:78px;
	text-align: center;
}
.num_fans {
	float: right;
	width:78px;
	text-align: center;
	border-left:2px solid #EEF1F3;
}
.num .number {
	color:#82888F;
}
.num .num_discrip {
	color:#999;
	-webkit-transform : scale(0.75, 0.8);
}
.p_discrip .dis_word {
	border-top:2px solid #EEF1F3;
	padding: 10px 19px 10px 19px;
	clear: both;
	color: #898F95;
}
.p_discrip .dis_lables {
	float: left;
	margin-left: 12px;
}
.p_discrip .dis_lable {
	text-align: center;
	float: left;
	margin-right: -10px;
	letter-spacing: 1px;
	margin-top: -4px;
	padding:3px 10px 3px 10px;
	color: #B4B9BE;
	border-radius: 5px;
	background-color: #F6F6F6;
	-webkit-transform : scale(0.75, 0.82);
}
.p_discrip .dis_more a {

	padding: 4px 18px 4px 18px;
	float: right;
	letter-spacing: 2px;
	margin-top: -4px;
	margin-right: 7px;
	line-height:13PX;
	color: #969CA3;
	border-radius: 8px;
	border:thin solid #D6D8DB;
	-webkit-transform : scale(0.8, 0.9);
}
table.nav {
	clear: both;
	margin-top: 40px;
	border-spacing: 5px;
	border-top: 5px solid #F5F5F5;
	border-bottom: 1px solid #DADFE5;
	table-layout: fixed;
}
.side {
	width: 28.8%;
	text-align: center;
	height: 25px;
}
table.nav td a {

	letter-spacing: 1.5px;
	color: #A5AAB0;
}
.middle {
	width: 37.4%;
	text-align: center;
	border-left: 2px solid #DADFE5;
	border-right: 2px solid #DADFE5;
}
table.nav td a:hover {
	color: #4DB4F1;
}
#hint {
	color: #4DB4F1;
}
.footer {
	width:100%;
	position: fixed;
	right:0px;
	bottom:0px;
}
.ask {
	float: left;
	width:50%;
	text-align: center;
	height: 30px;
	padding-top: 10px;
	background-color: white;
	border-top:1px solid #DADFE5;
	border-bottom:1px solid #DADFE5;
}
.add {
	float: right;
	width:49.6%;
	text-align: center;
	border-left:0.1em solid #DADFE5;
	height: 30px;
	padding-top: 10px;
	background-color: white;
	border-top:1px solid #DADFE5;
	border-bottom:1px solid #DADFE5;
}
.footer p a {

	float: left;
	display: block;
	font-size: 12.5px;
	color: #4DB4F1;
}
.icon_footer {
	float: left;
	display: block;
	padding-right:10px;
}
#icon_footer_left {
	padding-left: 27%;
}
#icon_footer_right {
	padding-left: 30%;
}
